<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Online Customer Service</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div style="text-align:center">
  <span>
    <div style="display:inline-block;">
      <h1>Online Customer Service</h1>
    </div>

    <div style="display:inline-block; margin-left: 200px">
      <button type="button" class="btn btn-primary btn-lg">End Chatting</button>
    </div>

  </span>

  <hr>

</div>
